@font-face {
  font-family: 'GothamPro-Medium';
  src: url('GothamPro-Medium.ttf') format('truetype'),
       url('GothamPro-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamProMedium';
  src: url('GothamProMedium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

